{% extends 'global/base.html' %}
{% load filters %}

{% block title %}Adicionar Produto | Construct{% endblock title %}

{% block content %}

    <div class="container">
        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        
        {% endfor %}
        {% endif %}

        <form action="{% url 'add_product'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Imagens:</label>
            <input class="form-control" type="file" name="images" multiple>

            <label>Nome:</label>
            <input class="form-control" type="text" name="name">
            <br>

            <label>Selecione a categoria:</label>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
            <br>

            <label>Estoque inicial:</label>
            <input class="form-control" type="number" name="amount">
            <br>

            <label>Preço de compra:</label>
            <input class="form-control" type="number" name="price_buy">
            <br>

            <label>Preço de venda:</label>
            <input class="form-control" type="number" name="price_sell">
            <br>

            <div class="text-right">
                <input class="btn btn-success" type="submit" value="Enviar">
            </div>    
        </form>

        <hr class="bg-hr">
        <div class="list-product">
            {% for product in products %}
                <div class="card" style="width: 18rem; background-color: #0f0f0f;">
                    {% if product|get_first_image %}
                        <img class="card-img-top" src="{{ product|get_first_image }}" alt="Imagem do Produto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            <span class="badge badge-secondary">{{ product.category }}</span>
                        </p>
                        <a href="#" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
                <br>
            
            {% endfor %}

        </div>


    </div>

{% endblock content %}